.user_details .card {
  margin-top: 20px;
}
.user_details .card .card_header {
  background-color: #ffffff;
  border-radius: 32px 32px 0 0;
  padding: 20px 20px 20px 20px;
}
.user_details .card .card_header .user_status {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.user_details .card .card_header .user_status .user_sort h5 {
  color: #666666;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
}
.user_details .card .card_header .user_status .user_sort p {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.user_details .card .card_header .user_status label {
  color: #999999;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 15px; */
}
.user_details .card .card_header .user_status select {
  border: none;
  color: #666666;
  font-weight: 500;
  font-size: 20px;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
.user_details .card .card_header .user_status ul {
  display: flex;
  margin-bottom: 0 !important;
}
.user_details .card .card_header .user_status ul li {
  border-width: 0 0 0 1px;
  border-style: solid;
  padding: 0 0 0 15px;
  border-color: #f6f6f6;
  margin-right: 10px;
}
.user_details .card .card_header .user_status ul li h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff6435;
}
.user_details .card .card_header .user_status ul li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #999999;
}
.user_details .card .card-body .user_list ul {
  padding-left: 0;
}
.user_details .card .card-body .user_list ul li .user_profile {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.user_details .card .card-body .user_list ul li .user_profile .avr_details {
  margin-left: 30px;
}
.user_details .card .card-body .user_list ul li .user_profile .avator {
  position: relative;
}
.user_details .card .card-body .user_list ul li .user_profile .avator span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffb29a -3.08%, #ff6435 103.08%);
  font-weight: 800;
  font-size: 18px;
  box-shadow: 0px 9.14285659790039px 11.428570747375488px 0px #00000026;

  /* line-height: 16px; */
  /* identical to box height, or 80% */

  letter-spacing: -0.05em;

  color: #f8f8f8;
}
.user_details .card .card-body .user_list ul li .user_profile .avr_details h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: -0.02em;
}
.user_details .card .card-body .user_list ul li {
  padding: 17px 10px;
}
.user_details .card .card-body .user_list ul li:hover {
  background-color: #fdfafa;
  border-radius: 32px;
}
.user_details .card .card-body .user_list ul li:hover .avr_details h3 {
  color: #ff6435;
}
.user_details .card .card-body .user_list ul li .user_profile .avr_details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 5px !important;
}
.user_details
  .card
  .card-body
  .user_list
  ul
  li
  .user_profile
  .avr_details
  .u-instagram {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: -0.02em;

  color: #666666;
}
.user_details .card .card-body .user_list .user_chat ul {
  display: flex;
  justify-content: flex-end;
}
.user_details .card .card-body .user_list .user_chat ul li {
  margin-right: 15px;
}
.user_details .card .card-body .user_list .user_chat ul li:last-child {
  margin-right: 0;
}
.user_details .card .card-body .user_list .user_chat .message_btn {
  background: #ffffff;
  color: #ff6435;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding: 10px 16px 10px 16px;
  gap: 8px;
}
.button-01 {
  color: #666666;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 28px;
  font-size: 14px;
  background: rgba(153, 153, 153, 0.1);
  border-radius: 40px;
  padding: 4px 14px;
  margin-top: 15px;
}
.user_details .card .card-body .user_list .user_chat .user_impressions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.user_details .card .card-body .user_list .user_chat .user_impressions li {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #333333;
}
.user_details
  .card
  .card-body
  .user_list
  .user_chat
  .user_impressions
  .button-01 {
  margin-right: 10px;
}
.user_details
  .card
  .card-body
  .user_list
  .user_chat
  .user_impressions
  .button-01:last-child {
  margin-right: 0;
}
.heading_01 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  letter-spacing: -0.04em;

  color: #666666;
}
.sidebarr {
  margin-top: 20px;
}
.sidebarr .category-_ist ul {
  padding-left: 0;
  margin: 20px 0;
}
.sidebarr .category-_ist ul li div {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(153, 153, 153, 0.1);
  margin: 0 0 10px 0;
  border-radius: 40px;
}
.sidebarr .category-_ist ul li div h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  margin: 0;
}
.sidebarr .category-_ist ul li div p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 28px; */
  /* identical to box height, or 200% */

  letter-spacing: -0.02em;

  color: #666666;
  padding: 10px 13px;
  background-color: #ffffff;
  border-radius: 50%;
}
.trending_search ul {
  padding-left: 0;
  margin: 20px 0;
}
.trending_search ul li {
  padding: 7px 0;
}
.trending_search ul li a {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: -0.02em;

  color: #666666;
}
.trending_search ul li a:hover {
  color: #000000;
}
.trending_search ul li img {
  margin-right: 10px;
}
.popular_creators ul {
  padding-left: 0;
  margin: 20px 0;
}
.popular_creators ul li {
  margin: 15px 0;
  border-bottom: 1px solid #99999979;
}
.popular_creators ul li .pc-users {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.popular_creators ul li .pc-users .pc-user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular_creators ul li .pc-users .pc-user_details img {
  max-width: 40px;
  margin-right: 20px;
}
.popular_creators ul li .pc-users .pc-user_details h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 8px;
  letter-spacing: -0.02em;

  color: #000000;
}
.popular_creators ul li .pc-users .pc-user_details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  color: #666666;
}
.popular_creators ul li .pc-users .rate span {
  padding: 10px;
  background: linear-gradient(180deg, #ffb29a -6.58%, #ff6435 106.58%);
  box-shadow: 0px 9.14286px 11.4286px rgba(0, 0, 0, 0.15);
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #f8f8f8;
  border-radius: 50%;
}
